# Spice CCID Reader
#  This configuration file is the format required by the pcscd deamon for
#  serial devices; so the qxl driver looks like a serial device to pcscd.
FRIENDLYNAME      "Spice ccid"
DEVICENAME        /tmp/spice.pcsc.comm
LIBPATH           /usr/lib/pcsc/drivers/serial/libspiceccid.so
CHANNELID         1
